<!DOCTYPE html>
<html>
    <%- include('head') -%>
    <nav>
        <div class="nav-wrapper cyan darken-3">
          <a href="#" class="brand-logo">Xuma</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down ">
            <li><a href="../index.ejs">Home</a></li>
            <li><a href="../shop.ejs">Shop</a></li>
            <li><a href="../faqs.ejs">FAQs</a></li>
          </ul>
        </div>
      </nav>
