<%- include('partials/header') -%>
 <body class="bg-light">
  <style>
    img{
      height: 60px;
      width: 50px;
    }

  </style>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Carrito de Compras</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="cart-table" class="table table-striped">
                   <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Producto</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-right">Costo</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><img src="/img/portfolio/botella2.jpg"/> </td>
                            <td>Product Name Dada</td>
                            <td>
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="Cantidad" aria-label="Cantidad" aria-describedby="basic-addon2" value = 1>
                                </div>
                              
                            </td>
                            <td class="text-right">124.90$</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right">346,90$</td>
                        </tr>
                    </tbody> 
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6 text-right">
                    <button id="continue_button" class="btn btn-lg  btn-block btn-warning">Continuar Comprando</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/js/api_calls/cart.js"></script>

</body>
<%- include('partials/footer') -%>
