<%- include('partials/header') -%>
<link href="/css/faqs.css" rel="stylesheet" />
<body>
    <div>
        <br>
        <br>
        <br>
    </div>
<div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="accordion" id="faqExample">
                <div class="card">
                    <div class="card-header p-2" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              P: POR QUE LICORES Y TEQUILA DE XUMA?
                            </button>
                          </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                        <div class="card-body">
                            <b>XUMA</b> solo brinda productos de la mas alta calidad a un precio justo, pensando siempre en los mejores sabores para tu paladar
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          P: TIENEN ENVIOS A TODO MEXICO?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                        <div class="card-body">
                            Si, contamos con envios a todo Mexico.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              P: CUANDO RECIBIRE MI PRODUCTO?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            Para saber el estado de tu pedido entra a Micuenta>Pedido> Ver pedido o revisa la guía de envio en Ver pedido con la empresa de transportación.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              P: PLAZOS DE ENTREGA?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                        <div class="card-body">
                        ENVIO EXPRESS: Recibe tus productos en un lapzo de 2 a 3 dias.

                        ENVIO ESTANDAR: Recibe tus productos en un lapzo de 4 a 9 dias.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              P: METODOS DE PAGO
                            </button>
                          </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                        <div class="card-body">
                        Tarjetas de credito, debito mexicanas y de servicios

                        Tarjetas Nacionales e internacionales

                        OXXO PAY Nuestro Sistema de pagos con referencia en OXXO

                        PAY PAL
                        </div>
                    </div>
                </div>
             <div class="card">
                    <div class="card-header p-2" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              P: TODOS LOS ARTICULOS ESTAN DISPONIBLES?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                        <div class="card-body">
                            Si, el articulo aparece en nuestra web, el producto se encuentra en existencia.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                              P: PUEDO CANCELAR O MODIFICAR MI PEDIDO
                            </button>
                          </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqExample">
                        <div class="card-body">
                            PUEDO CANCELAR O MODIFICAR MI PEDIDO
                            Una vez hecho el pedido, no es posible cancelar o modificar el pedido, ya que preparamos tu pedido en cuanto este ha sido confirmado, si cambias de opinión, puedes devolver los productos una vez recibido tu compra en un lapso de 15 días, enviándonos un mensaje por nuestros medios de comunicación. <br><a class="nav-link js-scroll-trigger" href="#contact">Contactanos</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                              P: POLITICA DE DEVOLUCIONES
                            </button>
                          </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqExample">
                        <div class="card-body">
                            Nuestra política de devolución es muy sencilla. Podrás devolver los artículos comprado en Unchain por las siguientes causas:
                            <p>- Si el artículo presenta defectos de fabricación.<br>
                            - Si existe equivocación en el artículo enviado, conservando la envoltura original de celofán (emplaye) y sin presentar muestras de maltrato.<br>

                            – Las devoluciones seran validas los 15 dias posteriores a la recepcion del envio, siempre y cuando halla muestras de maltrato en los articulos.
                        </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                              P:QUIERO ESTAR ALERTA A LAS PROMOCIONES Y OFERTAS
                            </button>
                          </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#faqExample">
                        <div class="card-body">
                            ¡Suscribete a nuestro newsletter donde encontraras noticias, promociones esclusivas y tendras la oportunidad de ganar el sorteo del mes!
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/row-->
</div>
<!--container-->

</body>
<%- include('partials/footer') -%>
