<%- include('partials/header') -%>
  <body id="page-top">
    <!-- Portfolio Grid -->
    <section class="bg-light page-section" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">SHOP</h2>
            <h3 class="section-subheading text-muted">Find your liquor</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a
              class="portfolio-link"
              data-toggle="modal"
              href="#portfolioModal1"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/img/portfolio/botella1.jpg"
                alt="Tequila"
                height="150"
                width="150"
              />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Coco con Tequila</h4>
              <h6>Tequila</h6>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a
              class="portfolio-link"
              data-toggle="modal"
              href="#portfolioModal2"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="../img/portfolio/botella2.jpg"
                alt="Tequila"
                height="150"
                width="150"
              />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Durazno con Tequila</h4>
              <h6>Licor</h6>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a
              class="portfolio-link"
              data-toggle="modal"
              href="#portfolioModal3"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="../img/portfolio/botella3.jpg"
                alt="Tequila"
                height="150"
                width="150"
              />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Mango con Tequila</h4>
              <h6>Licor</h6>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a
              class="portfolio-link"
              data-toggle="modal"
              href="#portfolioModal4"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="../img/portfolio/botella4.jpg"
                alt="Tequila"
                height="150"
                width="150"
              />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Tamarindo con Tequila</h4>
              <h6>Licor</h6>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a
              class="portfolio-link"
              data-toggle="modal"
              href="#portfolioModal5"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="../img/portfolio/botella1.jpg"
                alt="Tequila"
                height="150"
                width="150"
              />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Membrillo con Tequila</h4>
              <h6>Licor</h6>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a
              class="portfolio-link"
              data-toggle="modal"
              href="#portfolioModal6"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="../img/portfolio/botella2.jpg"
                alt="Tequila"
                height="150"
                width="150"
              />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Granada con Tequila</h4>
              <h6>Licor</h6>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal1"
      role="dialog"
      aria-hidden="true"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Licor de Coco con Tequila</h2>
                  <p class="item-intro text-muted">
                    Details
                  </p>
                  <img
                    class="img-fluid d-block mx-auto"
                    src="../img/portfolio/botella1.jpg"
                    alt
                  />
                  <p>
                    Licores a base de tequila: exquisitas bebidas frutales, con
                    tequila; listas para servirse a las rocas, llevándote a
                    nuevas experiencias de sabor y frescura.
                  </p>
                  <ul class="list-inline">
                    <li>Price: $230</li>
                    <li>Size: Small/Medium/Large</li>
                    <li>Category: Tequila</li>
                  </ul>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-plus fa-1x"></i>
                    Add to Cart
                  </button>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times"></i>
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal2"
      role="dialog"
      aria-hidden="true"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Licor de Durazno con Tequila</h2>
                  <p class="item-intro text-muted">
                    Details
                  </p>
                  <img
                    class="img-fluid d-block mx-auto"
                    src="../img/portfolio/botella2.jpg"
                    alt
                  />
                  <p>
                    Licores a base de tequila: exquisitas bebidas frutales, con
                    tequila; listas para servirse a las rocas, llevándote a
                    nuevas experiencias de sabor y frescura.
                  </p>
                  <ul class="list-inline">
                    <li>Price: $230</li>
                    <li>Size: Small/Medium/Large</li>
                    <li>Category: Licor</li>
                  </ul>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-plus fa-1x"></i>
                    Add to Cart
                  </button>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times"></i>
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal3"
      role="dialog"
      aria-hidden="true"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Licor de Mango con Tequila</h2>
                  <p class="item-intro text-muted">
                    Details
                  </p>
                  <img
                    class="img-fluid d-block mx-auto"
                    src="../img/portfolio/botella3.jpg"
                    alt
                  />
                  <p>
                    Licores a base de tequila: exquisitas bebidas frutales, con
                    tequila; listas para servirse a las rocas, llevándote a
                    nuevas experiencias de sabor y frescura.
                  </p>
                  <ul class="list-inline">
                    <li>Price: $230</li>
                    <li>Size: Small/Medium/Large</li>
                    <li>Category: Licor</li>
                  </ul>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-plus fa-1x"></i>
                    Add to Cart
                  </button>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times"></i>
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal4"
      role="dialog"
      aria-hidden="true"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Licor de Tamarindo con Tequila</h2>
                  <p class="item-intro text-muted">
                    Details
                  </p>
                  <img
                    class="img-fluid d-block mx-auto"
                    src="../img/portfolio/botella4.jpg"
                    alt
                  />
                  <p>
                    Licores a base de tequila: exquisitas bebidas frutales, con
                    tequila; listas para servirse a las rocas, llevándote a
                    nuevas experiencias de sabor y frescura.
                  </p>
                  <ul class="list-inline">
                    <li>Price: $230</li>
                    <li>Size: Small/Medium/Large</li>
                    <li>Category: Licor</li>
                  </ul>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-plus fa-1x"></i>
                    Add to Cart
                  </button>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times"></i>
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal5"
      role="dialog"
      aria-hidden="true"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Licor de Membrillo con Tequila</h2>
                  <p class="item-intro text-muted">
                    Details
                  </p>
                  <img
                    class="img-fluid d-block mx-auto"
                    src="../img/portfolio/botella1.jpg"
                    alt
                  />
                  <p>
                    Licores a base de tequila: exquisitas bebidas frutales, con
                    tequila; listas para servirse a las rocas, llevándote a
                    nuevas experiencias de sabor y frescura.
                  </p>
                  <ul class="list-inline">
                    <li>Price: $230</li>
                    <li>Size: Small/Medium/Large</li>
                    <li>Category: Licor</li>
                  </ul>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-plus fa-1x"></i>
                    Add to Cart
                  </button>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times"></i>
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal6"
      role="dialog"
      aria-hidden="true"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Licor de Granada con Tequila</h2>
                  <p class="item-intro text-muted">
                    Details
                  </p>
                  <img
                    class="img-fluid d-block mx-auto"
                    src="../img/portfolio/botella2.jpg"
                    alt
                  />
                  <p>
                    Licores a base de tequila: exquisitas bebidas frutales, con
                    tequila; listas para servirse a las rocas, llevándote a
                    nuevas experiencias de sabor y frescura.
                  </p>
                  <ul class="list-inline">
                    <li>Price: $230</li>
                    <li>Size: Small/Medium/Large</li>
                    <li>Category: Licor</li>
                  </ul>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-plus fa-1x"></i>
                    Add to Cart
                  </button>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times"></i>
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="../js/jqBootstrapValidation.js"></script>
  </body>
</html>

<%- include('partials/footer') -%>
