<%- include('partials/header') -%>
  <body id="page-top">
    <!-- Portfolio Grid -->
    <section class="bg-light page-section" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">SHOP</h2>
            <h3 class="section-subheading text-muted">Find your liquor</h3>
          </div>
        </div>
        <div class="showProducts">
          <div class="filterProd">
            <h4>FILTERS</h4>
            <div class="priceSlider">
              <h6>PRICE</h6>
              <div class="priceInput">
                <label>Min: </label>
                <input class="form-control" id="minPrice" type="number" placeholder="$0.00" />
              </div>
              <div class="priceInput">
                <label>Max:</label>
                <input class="form-control" id="maxPrice" type="number" placeholder="$500.00" />
              </div>
            </div>
            <div class="filterCategory">
              <h6>CATEGORY</h6>
              <div class="categProd">
                <input type="radio" name="prodCateg" id="todos" /> <label for="todos"> All </label>
              </div>
              <div class="categProd">
                <input type="radio" name="prodCateg" id="liquor" /> <label for="liquor"> Liquor </label>
              </div>
              <div>
                <input type="radio" name="prodCateg" id="tequila" /> <label for="tequila"> Tequila </label>
              </div>
            </div>
            <button class="btn btn-primary" id="btnFilterProd">Filter</button>
          </div>
        <div class="row">
          <!--Product 1-->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a
              class="portfolio-link"
              data-toggle="modal"
              href="#portfolioModal1"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="/img/portfolio/botella1.jpg"
                alt="Tequila"
                height="150"
                width="150"
              />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Coco con Tequila</h4>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>

          <!--Product 2-->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/img/portfolio/botella2.jpg" alt="Tequila" height="150" width="150" />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Durazno con Tequila</h4>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>


          <!--Product 3-->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/img/portfolio/botella3.jpg" alt="Tequila" height="150" width="150" />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Mango con Tequila</h4>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>


          <!--Product 4-->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/img/portfolio/botella4.jpg" alt="Tequila" height="150" width="150" />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Tamarindo con Tequila</h4>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>

          <!--Product 5-->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/img/portfolio/botella1.jpg" alt="Tequila" height="150" width="150" />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Membrillo con Tequila</h4>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>


          <!--Product 6-->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/img/portfolio/botella2.jpg" alt="Tequila" height="150" width="150" />
            </a>
            <div class="portfolio-caption">
              <h4>Licor de Granada con Tequila</h4>
              <p class="text-muted">$230</p>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal1"
      role="dialog"
      aria-hidden="true"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <div>
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Licor de Coco con Tequila</h2>
                  </div>
                  <div class="prodDetails">
                  <div class="prodImage">
                  <img
                    class="img-fluid d-block mx-auto"
                    src="../img/portfolio/botella1.jpg"
                    alt
                    height="400"
                    width="400"
                  />
                  </div>
                  <div class="productInfo">
                  <p>
                    Licores a base de tequila: exquisitas bebidas frutales, con
                    tequila; listas para servirse a las rocas, llevándote a
                    nuevas experiencias de sabor y frescura.
                  </p>
                  <ul class="list-inline">
                    <div class="row"> 
                      <li class="prodMargin">Price:</li>
                      <li>$230</li>
                    </div>
                    <div class="row">
                      <li class="prodMargin">Size:</li>
                      <select id="bottleSize">
                        <option value="0"> Select a size...</option>
                        <option value="sm">
                          Small
                        </option>
                        <option value="med">
                          Medium
                        </option>
                        <option value="lrg">
                          Large
                        </option>
                      </select>
                    </div>
                    <div class="row">
                      <li>Category:</li>
                      <li>Tequila</li>
                    </div>
                    <div class="row">
                      <li>Quantity:</li>
                      <button class="btn btn-primary" type="button">-
                      </button>
                      <label class="form-control">1</label>
                      <button class="btn btn-primary" type="button">+
                      </button>
                    </div>
                  </ul>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-plus fa-1x"></i>
                    Add to Cart
                  </button>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times"></i>
                    Cancel
                  </button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" role="dialog" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <div>
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Licor de Durazno con Tequila</h2>
                  </div>
                  <div class="prodDetails">
                    <div class="prodImage">
                      <img class="img-fluid d-block mx-auto" src="../img/portfolio/botella2.jpg" alt height="400"
                        width="400" />
                    </div>
                    <div class="productInfo">
                      <p>
                        Licores a base de tequila: exquisitas bebidas frutales, con
                        tequila; listas para servirse a las rocas, llevándote a
                        nuevas experiencias de sabor y frescura.
                      </p>
                      <ul class="list-inline">
                        <div class="row">
                          <li class="prodMargin">Price:</li>
                          <li>$230</li>
                        </div>
                        <div class="row">
                          <li class="prodMargin">Size:</li>
                          <select id="bottleSize">
                            <option value="0"> Select a size...</option>
                            <option value="sm">
                              Small
                            </option>
                            <option value="med">
                              Medium
                            </option>
                            <option value="lrg">
                              Large
                            </option>
                          </select>
                        </div>
                        <div class="row">
                          <li>Category:</li>
                          <li>Licor</li>
                        </div>
                        <div class="row">
                          <li>Quantity:</li>
                          <button class="btn btn-primary" type="button">-
                          </button>
                          <label class="form-control">1</label>
                          <button class="btn btn-primary" type="button">+
                          </button>
                        </div>
                      </ul>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-plus fa-1x"></i>
                        Add to Cart
                      </button>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" role="dialog" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <div>
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Licor de Mango con Tequila</h2>
                  </div>
                  <div class="prodDetails">
                    <div class="prodImage">
                      <img class="img-fluid d-block mx-auto" src="../img/portfolio/botella3.jpg" alt height="400"
                        width="400" />
                    </div>
                    <div class="productInfo">
                      <p>
                        Licores a base de tequila: exquisitas bebidas frutales, con
                        tequila; listas para servirse a las rocas, llevándote a
                        nuevas experiencias de sabor y frescura.
                      </p>
                      <ul class="list-inline">
                        <div class="row">
                          <li class="prodMargin">Price:</li>
                          <li>$230</li>
                        </div>
                        <div class="row">
                          <li class="prodMargin">Size:</li>
                          <select id="bottleSize">
                            <option value="0"> Select a size...</option>
                            <option value="sm">
                              Small
                            </option>
                            <option value="med">
                              Medium
                            </option>
                            <option value="lrg">
                              Large
                            </option>
                          </select>
                        </div>
                        <div class="row">
                          <li>Category:</li>
                          <li>Licor</li>
                        </div>
                        <div class="row">
                          <li>Quantity:</li>
                          <button class="btn btn-primary" type="button">-
                          </button>
                          <label class="form-control">1</label>
                          <button class="btn btn-primary" type="button">+
                          </button>
                        </div>
                      </ul>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-plus fa-1x"></i>
                        Add to Cart
                      </button>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" role="dialog" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <div>
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Licor de Tamarindo con Tequila</h2>
                  </div>
                  <div class="prodDetails">
                    <div class="prodImage">
                      <img class="img-fluid d-block mx-auto" src="../img/portfolio/botella4.jpg" alt height="400"
                        width="400" />
                    </div>
                    <div class="productInfo">
                      <p>
                        Licores a base de tequila: exquisitas bebidas frutales, con
                        tequila; listas para servirse a las rocas, llevándote a
                        nuevas experiencias de sabor y frescura.
                      </p>
                      <ul class="list-inline">
                        <div class="row">
                          <li class="prodMargin">Price:</li>
                          <li>$230</li>
                        </div>
                        <div class="row">
                          <li class="prodMargin">Size:</li>
                          <select id="bottleSize">
                            <option value="0"> Select a size...</option>
                            <option value="sm">
                              Small
                            </option>
                            <option value="med">
                              Medium
                            </option>
                            <option value="lrg">
                              Large
                            </option>
                          </select>
                        </div>
                        <div class="row">
                          <li>Category:</li>
                          <li>Licor</li>
                        </div>
                        <div class="row">
                          <li>Quantity:</li>
                          <button class="btn btn-primary" type="button">-
                          </button>
                          <label class="form-control">1</label>
                          <button class="btn btn-primary" type="button">+
                          </button>
                        </div>
                      </ul>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-plus fa-1x"></i>
                        Add to Cart
                      </button>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" role="dialog" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <div>
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Licor de Membrillo con Tequila</h2>
                  </div>
                  <div class="prodDetails">
                    <div class="prodImage">
                      <img class="img-fluid d-block mx-auto" src="../img/portfolio/botella1.jpg" alt height="400"
                        width="400" />
                    </div>
                    <div class="productInfo">
                      <p>
                        Licores a base de tequila: exquisitas bebidas frutales, con
                        tequila; listas para servirse a las rocas, llevándote a
                        nuevas experiencias de sabor y frescura.
                      </p>
                      <ul class="list-inline">
                        <div class="row">
                          <li class="prodMargin">Price:</li>
                          <li>$230</li>
                        </div>
                        <div class="row">
                          <li class="prodMargin">Size:</li>
                          <select id="bottleSize">
                            <option value="0"> Select a size...</option>
                            <option value="sm">
                              Small
                            </option>
                            <option value="med">
                              Medium
                            </option>
                            <option value="lrg">
                              Large
                            </option>
                          </select>
                        </div>
                        <div class="row">
                          <li>Category:</li>
                          <li>Licor</li>
                        </div>
                        <div class="row">
                          <li>Quantity:</li>
                          <button class="btn btn-primary" type="button">-
                          </button>
                          <label class="form-control">1</label>
                          <button class="btn btn-primary" type="button">+
                          </button>
                        </div>
                      </ul>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-plus fa-1x"></i>
                        Add to Cart
                      </button>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" role="dialog" aria-hidden="true" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <div>
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Licor de Granada con Tequila</h2>
                  </div>
                  <div class="prodDetails">
                    <div class="prodImage">
                      <img class="img-fluid d-block mx-auto" src="../img/portfolio/botella1.jpg" alt height="400"
                        width="400" />
                    </div>
                    <div class="productInfo">
                      <p>
                        Licores a base de tequila: exquisitas bebidas frutales, con
                        tequila; listas para servirse a las rocas, llevándote a
                        nuevas experiencias de sabor y frescura.
                      </p>
                      <ul class="list-inline">
                        <div class="row">
                          <li class="prodMargin">Price:</li>
                          <li>$230</li>
                        </div>
                        <div class="row">
                          <li class="prodMargin">Size:</li>
                          <select id="bottleSize">
                            <option value="0"> Select a size...</option>
                            <option value="sm">
                              Small
                            </option>
                            <option value="med">
                              Medium
                            </option>
                            <option value="lrg">
                              Large
                            </option>
                          </select>
                        </div>
                        <div class="row">
                          <li>Category:</li>
                          <li>Licor</li>
                        </div>
                        <div class="row">
                          <li>Quantity:</li>
                          <button class="btn btn-primary" type="button">-
                          </button>
                          <label class="form-control">1</label>
                          <button class="btn btn-primary" type="button">+
                          </button>
                        </div>
                      </ul>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-plus fa-1x"></i>
                        Add to Cart
                      </button>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="../js/jqBootstrapValidation.js"></script>
  </body>
</html>

<%- include('partials/footer') -%>
